#projects .project{
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1200px;
}
#projects .projects-header h2 {
 margin-bottom: 50px;

}
#projects .all-projects{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#projects .project-item{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;




}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height:100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 133, 125);
    color: white;
}
#projects .project-info h1 {
    font-size: 3rem;
    font-weight: 500;
}
#projects .project-info h1 a {
    font-size: 3rem;
    font-weight: 500;
    color: gold;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
   
}
#projects .project-info h2 a{
    font-size: 2.4rem;
    color: gold;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-img{
   flex-basis: 50%;
   height: 300px;
   overflow: hidden;
   position: relative;
}

#projects .project-img:after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
   opacity: .5;


}
#projects .project-img img{
    transition: .3s ease  ;
}

#projects .project-item:hover .project-img img{
    transform: scale(1.2);
}

@media only screen and (min-width: 768px){

    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
     #projects .project-item{
        flex-direction: row;

     }
     #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
     }
     #projects .all-projects .project-info {
        height: 100%;
     }
     #projects .all-projects .project-img{
        height: 100%;
     }



}