.home-container{
    background-image: url(../../../image/office-table-with-cup-coffee-keyboard-notepad_1220-4584\ -\ Copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}