




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 12px;
  font-family: 'Montserrat',sans-serif;

  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) {
  .cta{
      font-size: 2.5rem;
      padding: 20px 60px;
  }
  h1.section-title{
      font-size: 6rem;
      
  }
  #hero h1 {
      font-size: 7rem;
  }
}







/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
